.l-mainLanding__sectionVideo {
    padding-top: 100px;

    .l-mainLanding_waveDown {
        width: 100%;
        position: relative;
    }

    .l-mainLanding_waveDown:first-of-type {
        top: 10px;
    }

    .l-mainLanding__videoGroup {
        width: 100%;
        height: auto;
        background-color: #fff;
        position: relative;

        iframe {
            width: 85%;
            margin: 0 auto;
            border-radius: 10px;
        }

        .l-mainLading__description {
            font-size: 1.8rem;
            padding: 50px;
        }

        .l-mainLanding__buttonSubscribe {
            margin: 0 auto;
            padding: 20px;
        }
    }
}